// @Copyright @{.Copyright}
// @Author @{.Author}
// @AutoGenerate v@{.hgVersion}

package genrouter

import "@{.importController}"

func init() {
	LoginRequiredRouter = append(LoginRequiredRouter, @{.templateGroup}.@{.varName}) // @{.tableComment}
}
