// @Copyright  Copyright (c) @{NowYear} @{.Copyright}
// @Author  @{.Author}
// @AutoGenerate Version @{.hgVersion}

package genrouter

import "@{.importController}"

func init() {
	LoginRequiredRouter = append(LoginRequiredRouter, @{.templateGroup}.@{.varName}) // @{.tableComment}
}
